/*

Add styles or override variables from the theme here.

*/
// Primary palette
$primary: #1e6b6f;
$secondary: #6b9b7d;
$success: #52a97d;
$warning: #d4a574;
$danger: #c85a54;
$info: #4a90a4;
$light: #f5f7f6;
$dark: #2b3e3f;

// Body and text
$body-bg: #f5f7f6;
$body-color: #2b3e3f;

// Links
$link-color: #1e6b6f;
$link-hover-color: #135759;

// Borders
$border-color: #d9e0de;